[submodule "deps/bx"]
	path = deps/bx
	url = https://github.com/kochol/bx.git
[submodule "deps/bimg"]
	path = deps/bimg
	url = https://github.com/kochol/bimg.git
[submodule "deps/bgfx"]
	path = deps/bgfx
	url = https://github.com/kochol/bgfx.git
[submodule "deps/arideps"]
	path = deps/arideps
	url = https://github.com/kochol/arideps.git
[submodule "deps/spdlog"]
	path = deps/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "tests"]
	path = tests
	url = https://github.com/kochol/ariyana_tests.git
[submodule "deps/brtshaderc"]
	path = deps/brtshaderc
	url = https://github.com/kochol/brtshaderc.git
[submodule "deps/MetaStuff"]
	path = deps/MetaStuff
	url = https://github.com/eliasdaler/MetaStuff.git
